<h2>{{ name }}</h2>

<div class="form-group">

	<strong>Choose data detail level:</strong>
	<br>
	<input type="radio"  id="groupedAPI"  name="selectionInfo" [checked]= "userSelectionRawAPI" (change) = "handleRawApiChange($event)" />
	<label >Download Raw API Data</label><br>
	<input type="radio" id="onlyAPI" name="selectionInfo"  [checked]="userSelectionOnlyAPI" (change) = "handleOnlyAPIChange($event)" />
	<label >Download Grouped API Data</label><br>
	<input type="radio"  id="groupedAPI"  name="selectionInfo" [checked]= "userSelectionGrouped" (change) = "handleGroupeChange($event)" />
	<label >Download Action Grouped Data</label><br>
	<br>
	<label for="file">Upload HAR</label> <br>
	<input type="file"
           id="file" (click)="this.resetFileName($event)"
           (change)="this.handleFileInput($event)"/>


</div>