<h2>{{ name }}</h2>

<div class="form-group">

	<strong>Choose Download Detail Level:</strong>
	<br>
	<input type="radio"  id="groupedAPI"  name="selectionInfo" [checked]= "userSelectionRawAPI" (change) = "handleRawApiChange($event)" />
	<label title="This option will download the most simple  format of the dat API call data(no added processing)" >Raw API Data</label><br>
	<input type="radio" id="onlyAPI" name="selectionInfo"  [checked]="userSelectionOnlyAPI" (change) = "handleOnlyAPIChange($event)" />
	<label title="This option will club muliple calls of the same API within an action and provide more fine data (some processing)" >Grouped API Data</label><br>
	<input type="radio"  id="groupedAPI"  name="selectionInfo" [checked]= "userSelectionGrouped" (change) = "handleGroupeChange($event)" />
	<label title = "This option will process data at use action level e.g Pricing, Finalize etc(most processed data)">Action Grouped Data</label><br>
	<br>
	<label for="file">Upload HAR</label> <br>
	<input type="file"
           id="file" (click)="this.resetFileName($event)"
           (change)="this.handleFileInput($event)"/>


</div>